* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: rgba($color: #222222, $alpha: 0);
  color: #f6f6f6;
  padding: 10px;
  font-family: Barlow;
  font-size: 14;
}

.music-font {
  font-family: Raleway;
  font-size: 12;
}


// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

.clocky {
  background-color: #222222;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px; 
}

.ramusage {
  background-color: #222222;
  border-radius: 4px;
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px; 
}

.weather {
  background-color: #222222;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px; 
}

.cpuusage {
  background-color: #222222;
  border-radius: 4px;
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px; 
}

.powerbar {
  background-color: #222222;
  font-family: Iosevka Nerd Font;
  font-size: 16;
  border-radius: 4px;
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px; 
}

.powermenu {
  background-color: #222222;
  font-family: Feather;
  font-size: 48;
  border-radius: 4px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 16px; 
}

.music {
  font-family: Iosevka Nerd Font;
  font-size: 16;
  background-color: #222222;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
}

.workspaces {
  background-color: #222222;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
}

.launcher {
  background-color: #222222;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px; 
}

.widget {
  font-family: Roboto;
  background-color: rgba($color: #222222, $alpha: 1);
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.weather-widget {
  font-family: Roboto;
  background-color: rgba($color: #222222, $alpha: 1);
  border-radius: 4px;
  margin-left: 0px;
  margin-top: 12px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
}

.monitor-widget {
  font-family: Roboto;
  background-color: rgba($color: #222222, $alpha: 1);
  border-radius: 4px;
  margin-left: 0px;
  margin-top: 12px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
}

.widget-clock {
  font-family: Barlow;
  font-size: 48;
  border-radius: 0px;
  margin-left: 0px;
  margin-top: 12px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
}

.widget-date {
  font-family: Barlow;
  font-size: 24;
  border-radius: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-right: 0px;
}

.widget-weatherinfo {
  font-family: Barlow;
  font-size: 24;
  border-radius: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-right: 20px;
}


.widget-music {
  font-family: Roboto;
  font-size: 16;
  margin-top: -150px;
  margin-right: 12;
}

.widget-music-control {
  font-family: Iosevka Nerd Font;
  font-size: 44;
}

.widget-close {
  font-family: Iosevka Nerd Font;
  font-size: 24;
  margin-left: 20;
  margin-top: 20;
}

.calendare {
  font-family: Roboto;
  background-color: #222222;
  border-radius: 4px;
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: 4;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
}

.widget-weathercity {
  font-family: Barlow;
  font-size: 20;
  color: #7f7f7f;
  margin-bottom: 20;
  margin-left: -24;
}

.widget-monitor-circle {
  margin-top: 20;
  font-family: Barlow;
  color: #7f7f7f;
  background-color: #111111;
  font-size: 20;
}

.widget-monitor-text {
  font-family: Barlow;
  color: #7f7f7f;
  font-size: 16;
}

.widget-monitor-text-tasks {
  font-family: Barlow;
  color: #7f7f7f;
  font-size: 16;
  margin-top: 10;
  margin-left: 10;
}

.lockscreen {
  background-color: rgba($color: #222222, $alpha: 0.70);
  border-radius: 4;
}

.lockscreen-lock {
  background-color: rgba($color: #222222, $alpha: 0);
  font-family: Iosevka Nerd Font;
  color: #ffffff;
  font-size: 72;
}

.lockscreen-font {
  font-family: Barlow;
  font-size: 24;
  background-color: rgba($color: #222222, $alpha: 0);
}

.lockscreen-input {
  font-family: Barlow;
  color: #ffffff;
  font-size: 24;
  border-radius: 4;
  background-color: rgba($color: #111111, $alpha: 0.70);
  margin-left: 2;
  margin-right: 2;
  margin-top: 2;
  margin-bottom: 2;
  padding-left: 6;
}
